.main-three
  .main-three__header
    %h2.title スプーンの作り方
    .main-three__header__more
      %a.more(href="#")
        %after
  .main-three__movie
    .main-three__movie__list
      %a.list(href="#")
        .main-three__movie__list__photo
          .main-three__movie__list__photo__ratio
            %iframe.movie{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/Z20mqA1yDcA", :width => "560"}
          .main-three__movie__list__photo__overlay
            %spon.icon
        .main-three__movie__list__info
          .main-three__movie__list__info__time
            %time.date
            %span.white 製作者 1
          %h3.text youtube titel 1
    .main-three__movie__list
      %a.list(href="#")
        .main-three__movie__list__photo
          .main-three__movie__list__photo__ratio
            %iframe.movie{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/_z7i5AZ35Ko", :width => "560"}
          .main-three__movie__list__photo__overlay
            %spon.icon
        .main-three__movie__list__info
          .main-three__movie__list__info__time
            %time.date
            %span.white 製作者 2
          %h3.text youtube titel 2
    .main-three__movie__list
      %a.list(href="#")
        .main-three__movie__list__photo
          .main-three__movie__list__photo__ratio
            %iframe.movie{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/a2gjDalEqqA", :width => "560"}
          .main-three__movie__list__photo__overlay
            %spon.icon
        .main-three__movie__list__info
          .main-three__movie__list__info__time
            %time.date
            %span.white 製作者 3
          %h3.text youtube titel 3
    .main-three__movie__list
      %a.list(href="#")
        .main-three__movie__list__photo
          .main-three__movie__list__photo__ratio
            %iframe.movie{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/6yQNs2H_BXE", :width => "560"}
          .main-three__movie__list__photo__overlay
            %spon.icon
        .main-three__movie__list__info
          .main-three__movie__list__info__time
            %time.date
            %span.white 製作者 4
          %h3.text youtube titel 4
  .main-three__button
    %a.more(href="#") more