.main-three
  .main-three__header
    %h2.title スプーンの作り方
    .main-three__header__more
      %a.more(href="#")
        %after
  .main-three__movie
    .main-three__movie__list
      %a.list(href="#")
        .main-three__movie__list__photo
          .main-three__movie__list__photo__ratio
            =image_tag "1024835_s.jpg", class: 'movie'
          .main-three__movie__list__photo__overlay
            %spon.icon
        .main-three__movie__list__info
          .main-three__movie__list__info__time
            %time.date
            %span.white 製作者 1
          %h3.text youtube titel 1
    .main-three__movie__list
      %a.list(href="#")
        .main-three__movie__list__photo
          .main-three__movie__list__photo__ratio
            =image_tag "2213281_s.jpg", class: 'movie'
          .main-three__movie__list__photo__overlay
            %spon.icon
        .main-three__movie__list__info
          .main-three__movie__list__info__time
            %time.date
            %span.white 製作者 2
          %h3.text youtube titel 2
    .main-three__movie__list
      %a.list(href="#")
        .main-three__movie__list__photo
          .main-three__movie__list__photo__ratio
            =image_tag "1052479_s.jpg", class: 'movie'
          .main-three__movie__list__photo__overlay
            %spon.icon
        .main-three__movie__list__info
          .main-three__movie__list__info__time
            %time.date
            %span.white 製作者 2
          %h3.text youtube titel 2
    .main-three__movie__list
      %a.list(href="#")
        .main-three__movie__list__photo
          .main-three__movie__list__photo__ratio
            =image_tag "1025167_s.jpg", class: 'movie'
          .main-three__movie__list__photo__overlay
            %spon.icon
        .main-three__movie__list__info
          .main-three__movie__list__info__time
            %time.date
            %span.white 製作者 2
          %h3.text youtube titel 2
  .main-three__button
    %a.more(href="#") more