.main-two
  %h2.consept - spoon500の特徴 -
  .main-two__content
    .main-two__content__left
      .main-two__content__left__imgbox
        %figure
          = image_tag "3366256_s.jpg"
      .main-two__content__left__txtbox
        %h3.title スプーンの売り買いが出来るサイト
        .main-two__content__left__txtbox__text
          %p.attention このサイトでは釣具の”スプーン”の売り買いが行えます、金額も500円均一ですのでお気軽に購入、出品が可能です
    .main-two__content__right
      .main-two__content__right__imgbox
        %figure
          = image_tag "1969269_s.jpg"
      .main-two__content__right__txtbox
        %h3.title ここでしか出会えないルアー
        .main-two__content__right__txtbox__text
          %p ここでは自分自身で作ったルアーを販売することが可能です、また他のビルダーの作ったルアーを購入し楽しむことが出来ます
    .main-two__content__left
      .main-two__content__left__imgbox
        %figure
          = image_tag "2018678_s.jpg"
      .main-two__content__left__txtbox
        %h3.title 釣りを愛する人のためのサイト
        .main-two__content__left__txtbox__text
          %p.attention 釣りを愛する人のために作ろうとおもい、サイトを立ち上げました、このアプリを通して釣りを楽しんでください！
