.main-two
  %h2.consept - オリジナルのスプーンを創り、手に入れる -
  .main-two__image
    .main-two__image__make
      = image_tag "3366256_s.jpg"
      %h3.make 見出し
      %p.make 説明
    .main-two__image__right
      = image_tag "1969269_s.jpg"
      .main-two__image__right__text
        %h3.make 見出し
        %p.make 説明
    .main-two__image__make
      = image_tag "2018678_s.jpg"
      %h3.make 見出し
      %p.make 説明
