.header
  .header__nav
    .header__nav__top
      .header__nav__top__left
        %ul
          %li.crrent
            %a.crrent(href="#")
              TIMON
              %span.down
                %icon.down
                  %polygon
            .header__nav__top__left__pull 
              -# プルダウン実装時に書き込む
      .header__nav__top__center
        %ul.group
          %li.menu
            %a.item(href="#")
              Revoltage
          %li.menu
            %a.item(href="#")
              RGM
          %li.menu
            %a.item(href="#")
              GOOD
      .header__nav__top__right
        %ul.login
          - if user_signed_in?
            %li.login
              -# = link_to user_path(current_user) do
                マイページ
            %li.login
              = link_to destroy_user_session_path, method: 'delete' do
                ログアウト
          - else
            %li.login
              = link_to new_user_registration_path do
                新規登録
            %li.login
              = link_to new_user_session_path do
                ログイン
        
    .header__nav__under
      .header__nav__under__logo
        =link_to image_tag "IMG_3179.JPG" do
          %span.logo
          %span.sub
            %before
      .header__nav__under__service
        .header__nav__under__service__itemleft
          -# ドロップダウンメニュー
          %ul.itemleft
            %li.lists
              %a.list(href="#")
                NEW PRODUCTS
            %li.lists
              %a.list(href="#")
                LURE
            %li.lists
              %a.list(href="#")
                ROD
            %li.lists
              %a.list.last(href="#")
                ACCESSORY
          %after
        .header__nav__under__service__itemright
          %ul.itemright
            %li.lists
              %a.list(href="#")
                JACKALL STATION
            %li.lists
              %a.list(href="#")
                COLUMN
            %li.lists
              %a.list(href="#")
                STAFF LIST
        -# .header__nav__under__service__search
        -#   .header__nav__under__service__search__form
        -#     .header__nav__under__service__search__form__button
        -#       %before
        -#       .header__nav__under__service__search__form__button__crcle
        -#       .header__nav__under__service__search__form__button__path
              -# %input.search(type="text")/
                -# 後からCSSで隠す様調整