.footer
  %ul.contents
    %li.content
      %h2.head spoon500について
      %ul.lists
        %li
          %a(href="#") one
        %li
          %a(href="#") two
        %li
          %a(href="#") three
        %li
          %a(href="#") four
    %li.content
      %h2.head spoon500を見る
      %ul.lists
        %li
          %a(href="#") one
        %li
          %a(href="#") two
    %li.content
      %h2.head ヘルプ＆ガイド
      %ul.lists
        %li
          %a(href="#") one
        %li
          %a(href="#") two
        %li
          %a(href="#") three
  .footer__logo
    %a(href="#")
      = image_tag "IMG_3179 2.JPG"
  %p ©︎ SPOON500
= link_to new_item_path do
  .footer__btn
    %span.text 出品
    =icon("fa","camera-retro")