// ヘッダー
.login-header {
  height: 128px;
  text-align: center;
  background-color: #333;
  h1.login-head {
    margin: 40px 0 0;
    display: inline-block;
    a.login-head {
      width: 185px;
      height: 49px;
      line-height: 49px;
      display: inline-block;
      margin: 0 8px 0 0;
      img.login-head {
        width: 185px;
        height: 49px
      }
    }
  }
  &__nav {
    padding: 40px 0 0 44px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    // font-size: 0;
    text-align: center;
    ol.active {
      li.active {
        font-weight: 600;
        color: #ea352d;
        .login-header__nav__round {
          background: #ea352d;
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          // background: #ccc;
          border-radius: 50%;
          // ::after {
          //   position: absolute;
          //   bottom: 5px;
          //   z-index: -1;
          //   display: block;
          //   content: '';
          //   width: 100%;
          //   height: 2px;
          //   background: #ccc;
          // }
        }
      }
      li {
        margin: 0 40px 0 0;
        min-width: 60px;
        position: relative;
        z-index: 1;
        display: inline-block;
        min-width: 40px;
        font-size: 12px;
        color: #888;
        .login-header__nav__round {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: #ccc;
          border-radius: 50%;
          // ::after {
          //   left: 50%;
          //   position: absolute;
          //   bottom: 5px;
          //   z-index: -1;
          //   display: block;
          //   content: '';
          //   width: 100%;
          //   height: 2px;
          //   background: #ccc;
          // }
          // ::before {
          //   right: 50%;
          //   position: absolute;
          //   bottom: 5px;
          //   z-index: -1;
          //   display: block;
          //   content: '';
          //   width: 100%;
          //   height: 2px;
          //   background: #ccc;
          // }
        }
      }
      ::after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
}

// メインフォーム
.login-main {
  background-color: #333;
  display: block;
  sction.login {
    width: 700px;
    margin: 0 auto;
    background: #fff;
    h2.login {
      color: #fff;
      font-size: 22px;
      padding: 32px;
      line-height: 1.5;
      text-align: center;
    }
    .new_user {
      padding: 24px 16px 40px;
      border-top: 1px solid #f5f5f5;
      .login-main__inner {
        max-width: 343px;
        margin: 0 auto;
        &__form {
          margin: 24px 0 0;
          &__box {
            label.login {
              font-weight: 600;
            }
            span.login {
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
            input.login {
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
            #user_email {
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
            #user_password {
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
            #user_password_confirmation {
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
            p.login {
              font-size: 15px;
              margin-top: 15px;
              line-height: 1.5;
              color: #fff;
            }
            &__check {
              &__pass {
                margin: 16px 0 0;
                position: relative;
                font-size: 0;
                input.pass {
                  display: none;
                }
                i.pass {
                  position: absolute;
                  top: 50%;
                  left: 0;
                  z-index: 1;
                  width: 20px;
                  height: 20px;
                  border-radius: 2px;
                  background: #fff;
                  border: 1px solid #ccc;
                  font-size: 10px;
                  line-height: 17px;
                  text-align: center;
                  color: #fff;
                  vertical-align: middle;
                  -webkit-transition: all ease-out .3s;
                  transition: all ease-out .3s;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                  display: inline-block;
                  font-family: 'icon-font';
                  
                  font-style: normal;
                  font-weight: 400;
                  font-variant: normal;
                  text-transform: none;
                  line-height: 1;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing:
                  padding-top 2px;
                  ::before {
                    content: '\e00f';
                  }
                }
                label.pass {
                  position: relative;
                  z-index: 2;
                  padding: 0 0 0 28px;
                  font-size: 14px;
                  font-weight: 400;
                  vertical-align: middle;
                  cursor: pointer;
                }
              }
            }
          }
        }
        &__form {
          text-align: center;
          margin: 24px 0 0;
          h3.login {
            font-size: 16px;
          }
          p.note {
            margin: 8px 0 0;
            padding: 0;
            font-size: 15px;
            color: #fff;
          }
        }
        &__form {
          text-align: center;
          margin: 24px 0 0;
          div {
            label {
              font-weight: 600;
              color: #fff;
            }
            span.name {
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
          }
          input.name {
            margin-right: 8px;
            width: calc(50% - 6px);
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          input.last {
            width: calc(50% - 6px);
            // width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        &__form {
          margin: 24px 0 0;
          label {
            font-weight: 600;
            color: #fff;
          }
          span.birthday {
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          &__birthday {
            display: flex;
            &__date {
              width: 76px;
              display: contents;
              margin: 8px 0 0;
              position: relative;
              background: #fff;
              i.date {
                right: 12px;
                position: absolute;
                right: 16px;
                top: 50%;
                z-index: 2;
                color: #888;
                font-size: 8px;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                display: inline-block;
                font-family: 'icon-font';
                
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                ::before {
                  content: '\e001';
                }
              }
              #user_birthday_1i {
                background-color: #fff;
                margin-right: 10px;
                // padding: 0 10px;
                width: 100%;
                position: relative;
                z-index: 2;
                height: 48px;
                padding-left: 30px;
                border-radius: 4px;
                border: 1px solid #ccc;
                // background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
              }
              #user_birthday_2i {
                background-color: #fff;
                margin-right: 10px;
                padding-left: 30px;
                width: 78%;
                position: relative;
                z-index: 2;
                height: 48px;
                // padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                // background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
              }
              #user_birthday_3i {
                background-color: #fff;
                margin-right: 10px;
                padding-left: 30px;
                width: 100%;
                position: relative;
                z-index: 2;
                height: 48px;
                // padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                // background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
              }
            }
            span.date {
              margin: 0 2px;
            }
          }
          input.date {
            border: 0;
            outline: 0;
            font-family: inherit;
            -webkit-appearance: none;
            -moz-appearance: none;
          }
          &__text {
            ::after {
              content: '';
              display: block;
              clear: both;
            }
          }
          p.text {
            margin: 8px 0 0;
            line-height: 1.5;
            font-size: 15px;
            color: #fff;
          }
        }
        &__terms {
          margin: 40px 0 0;
          p.terms {
            margin: 0;
            padding: 0;
            line-height: 1.5;
            text-align: center;
            color: #fff;
          }
        }
        input.btn {
          margin: 24px 0 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
        &__Confirmation {
          margin: 24px 0 0;
          text-align: right;
          p.Confirmation {
            margin: 0;
            padding: 0;
            line-height: 1.5;
            a.Confirmation {
              color: #0099e8;
              text-decoration: none;
              i.Confirmation {
                display: inline-block;
                font-family: 'icon-font';
                
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                ::before {
                  content: '\e005';
                }
              }
            }
          }
        }
      }
    }
  }
}

.new_profile {
  padding: 24px 16px 40px;
  border-top: 1px solid #f5f5f5;
  .login-main__inner {
    max-width: 343px;
    margin: 0 auto;
    &__form {
      margin: 24px 0 0;
      &__box {
        display: table-caption;
        label {
          color: #fff;
          font-weight: 600;
        }
        span.login {
          background: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
        span.any {
          background: #ccc;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #000;
          font-size: 12px;
          vertical-align: top;
        }
        input.login {
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        #profile_prefecture {
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          margin-right: 12px;
        }
      }
    }
    &__terms {
      margin: 40px 0 0;
      p.terms {
        margin: 0;
        padding: 0;
        line-height: 1.5;
        text-align: center;
        color: #fff;
      }
    }
    input.btn {
      margin: 24px 0 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
    }
    &__Confirmation {
      margin: 24px 0 0;
      text-align: right;
      p.Confirmation {
        margin: 0;
        padding: 0;
        line-height: 1.5;
        a.Confirmation {
          color: #0099e8;
          text-decoration: none;
          i.Confirmation {
            display: inline-block;
            font-family: 'icon-font';
            
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            ::before {
              content: '\e005';
            }
          }
        }
      }
    }
  }
}

// 完了フォーム
.login-end {
  height: 100vh;
  width: 100vw;
  background-color: #333;
  border-top: 1px solid #fff;
  &__box {
    text-align: center;
    margin-top: 250px;
    h2.end {
      a.end {
        color: #000;
        text-decoration: none;
        background-color: #fff;
        padding: 70px 50px;
        border-radius: 5px;
      }
      :hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 430px) {
  .login-main sction.login h2.login {
    padding-top: 80px;
  }
}