.buy-header {
  -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 56px;
    -webkit-box-pack: center;
    justify-content: center;
  a {
    color: inherit;
    text-decoration: none;
    img {
      height: 33px;
      width: 120px;
      vertical-align: middle;
    }
  }
}