.buy-footer
  .buy-footer__poricy
    %ul.lists
      -# %li.list
      -#   = link_to "#" do
      -#     プライバシーポリシー
      %li.list
        = link_to "#" do
          スプーン利用規約
      %li.list
        = link_to "#" do
          特定商取引に関する表記
  = image_tag "IMG_3179.JPG", class: "list"
  %p.inc
    ©︎ Spoon500, inc