-# アイテム詳細ページ

-# ヘッダー
= render "buy-header"

-# メイン
= render "show-content"

-# フッター
= render "buy-footer"




















-# .content
-#   %p= @item.name
-#   %p
-#     = @item.price
-#     円
-#   - @item.images.each do |image|
-#     = image_tag image.image.url
-#     = link_to '編集', edit_item_path(@item)
