-# カード登録完了フォーム

-# ヘッダー
.card-header
  = link_to root_path do
    = image_tag "IMG_3179 2.JPG"

-# 完了フォーム
.login-end
  .login-end__box
    %h2.end 
      = link_to "登録を完了しました", root_path, class: "end"