.card-show {
  background-image: url(3193683_m.jpg);
  background-size: cover;
  padding-top: 50px;
  height: 87vh;
  display: block;
  &__content {
    text-align: center;
    width: 550px;
    margin: 0 auto;
    background: #fff;
    &__head {
      border-bottom: 1px solid #f5f5f5;
      padding: 10px 0;
      label.head {
        font-size: 21px;
      }
    }
    &__number {
      padding: 25px 0;
      h4.number {
        margin-bottom: 10px;
      }
      &__credit {
        border: 1px solid #ccc;
        margin: 0 170px;
        font-size: 16px;
        background: aliceblue;
      }
    }
    &__yearly {
      padding-bottom: 25px;
      h4.yearly {
        margin-bottom: 10px;
      }
      &__my {
        border: 1px solid #ccc;
        margin: 0 170px;
        font-size: 16px;
        background: aliceblue;
      }
    }
    &__form {
      margin-top: 40px;
      button.destroy {
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        padding: 8px 72px;
      }
    }
    &__border {
      padding: 50px;
      border-top: 1px solid #333;
      margin-top: 45px;
    }
  }
}