.main-four {
  background-color: #000;
  &__title {
    h2.title {
      opacity: 0.8;
      margin-bottom: 40px;
      font-size: 333%;
      line-height: 50px;
      height: 50px;
      font-weight: 700;
      text-align: center;
      color: #fff;
    }
  }
  &__content {
    padding-bottom: 90px;
    &__step {
      padding-top: 60px;
      display: flex;
      justify-content: center;
      &__side {
        &__img {
          h2.img {
            color: #fff;
            font-size: 40px;
            text-align: center;
            margin-bottom: 25px;
          }
          img.img {
          }
          h3.img {
            color: #ff6b00;
            margin-top: 15px;
            font-size: 24px;
          }
          p.img {
            color: #fff;
            margin-top: 15px;
            font-size: 16px;
          }
        }
      }
      &__center {
        margin: 0 40px;
        padding-top: 200px;
        h3.center {
          font-size: 38px;
        }
      }
    }
  }
}