.header {
  background-color: #000;
  &__nav{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    &__top {
      left: 0px;
      position: fixed;
      width: 100%;
      min-width: 1140px;
      z-index: 9999;
      background-color: #000;
      border-bottom: 1px solid rgba(255,255,255,.2);
      height: 37px;
      // background-color: transparent;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      border-bottom: 1px solid rgba(255,255,255,.7);
      &__left {
        ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          height: 100%;
          list-style: none;
          li.crrent {
            position: relative;
            border-right: 1px solid rgba(255,255,255,.2);
            a.crrent {
              color: #ff6b00;
              opacity: 1!important;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              height: 100%;
              width: 100px;
              margin: 0 20px;
              text-align: center;
              // color: rgba(255,255,255,.7);
              font-size: 20px;
              line-height: 1;
              position: relative;
              vertical-align: text-bottom;
              text-decoration: none;
              span.down {
                margin: 0;
                border: none;
                border-radius: 0;
                overflow: visible;
                font: inherit;
                color: inherit;
                text-transform: none;
                padding: 0;
                background-color: transparent;
                display: inline-block;
                fill: currentcolor;
                line-height: 0;
                margin-top: 3px;
                icon.down {
                  overflow: hidden;
                  transform: translate(0,0);
                  max-width: 100%;
                  height: auto;
                  box-sizing: border-box;
                  vertical-align: middle;
                  polygon {
                    font: inherit;
                    color: inherit;
                    text-transform: none;
                    fill: currentcolor;
                    line-height: 0;
                  }
                }
              }
            }
          }
        }
      }
      &__center {
        ul.group {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          height: 100%;
          list-style: none;
          li.menu {
            position: relative;
            font-size: 100%;
            line-height: 1.8;
            border-right: 1px solid rgba(255,255,255,.2);
            a.item {
              color: rgba(255,255,255,.5);
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              height: 100%;
              margin: 0 15px;
              // width: 100px;
              text-align: center;
              color: rgba(255,255,255,.7);
              font-size: 93%;
              line-height: 1;
              position: relative;
              vertical-align: text-bottom;
              color: #fff;
              text-decoration: none;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              // margin: 0;
              padding: 0;
              font-size: 100%;
              vertical-align: baseline;
              background: 0 0;
            }
          }
        }
      }
      &__right {
        ul.login {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          height: 100%;
          list-style: none;
          li.login {
            border-left: 1px solid rgba(255,255,255,.2);
            border-right: none;
            font-size: 100%;
            line-height: 1.8;
            a {
              color: rgba(255,255,255,.5);
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              height: 100%;
              width: 100px;
              text-align: center;
              color: rgba(255,255,255,.7);
              font-size: 93%;
              line-height: 1;
              position: relative;
              vertical-align: text-bottom;
              background-color: white;
              color: #fff;
              text-decoration: none;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              margin: 0;
              padding: 0;
              font-size: 100%;
              vertical-align: baseline;
              background: 0 0;
            }
          }
        }
      }
    }
    &__under {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #000;
      height: 80px;
      position: fixed;
      width: 100%;
      min-width: 1140px;
      top: 37px;
      z-index: 9998;
      left: 0px;
      &__logo {
        margin: 0 0 0 25px;
        a.logo {
          color: #fff;
          text-decoration: none;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          margin: 0;
          padding: 0;
          font-size: 100%;
          vertical-align: baseline;
          background: 0 0;
          cursor: pointer;
          span.logo {
            font-size: 220%;
            display: none;
            font-family: icomoon!important;
            // speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
          }
          span.sub {
            font-size: 207%;
            font-family: icomoon-jackall!important;
            font-family: icomoon!important;
            // speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            ::before {
              // content: "\e900";
              color: #fff;
            }
          }
        }
      }
      &__service {
        margin-left: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        height: 80px;
        position: relative;
        &__itemleft {
          border-left: none;
          background: 0 0;
          z-index: 100;
          position: relative;
          display: flex;
          ul.itemleft {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            li.lists {
              display: inline-block;
              font-size: 100%;
              line-height: 1.8;
              a.list {
                margin-right: 40px;
                margin-right: 45px;
                padding: 5px 0 5px 0;
                color: #fff;
                position: relative;
                font-size: 107%;
                min-height: 0;
                font-family: inherit;
                height: 100%;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                // padding: 0;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                min-height: 80px;
                padding: 0 15px;
                font-size: .875rem;
                font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
                text-decoration: none;
                cursor: pointer;
                margin: 0;
                // padding: 0;
                font-size: 100%;
                vertical-align: baseline;
                background: 0 0;
                backface-visibility: hidden;
              }
            }
          }
          .last:after {
            content: "";
            display: block;
            width: 1px;
            height: 35px;
            background-color: #444;
            position: absolute;
            margin: auto;
            top: -100%;
            bottom: -100%;
            right: 0;
          }
        }
        &__itemright {
          padding-left: 40px;
          background: 0 0;
          z-index: 100;
          position: relative;
          display: flex;
          ul.itemright {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            li.lists {
              display: inline-block;
              font-size: 100%;
              line-height: 1.8;
              text-align: -webkit-match-parent;
              a.list {
                margin-right: 40px;
                margin-right: 45px;
                padding: 5px 0 5px 0;
                color: #ff6b00;
                position: relative;
                font-size: 107%;
                min-height: 0;
                font-family: inherit;
                height: 100%;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0;
                // color: #999;
                text-transform: uppercase;
                transition: .1s ease-in-out;
                transition-property: color,background-color;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                min-height: 80px;
                padding: 0 15px;
                font-size: .875rem;
                font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
                text-decoration: none;
                backface-visibility: hidden;
                // margin: 0;
                // padding: 0;
                font-size: 100%;
                vertical-align: baseline;
                background: 0 0;
                cursor: pointer;
                line-height: 1.8;
              }
            }
          }
        }
        &__search {
          position: absolute;
          right: 0;
          top: -1px;
          width: 100%;
          height: 100%;
          cursor: pointer;
          z-index: 0;
          &__form {
            width: 100%;
            height: 100%;
            display: inline-block;
            position: relative;
            max-width: 100%;
            margin: 0;
            &__button {
              background-color: #006e35;
              cursor: pointer;
              height: calc(80px + 1px);
              width: 80px;
              // background-color: #af0000;
              color: #fff;
              right: 0;
              left: auto;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              color: #999;
              :before {
              }
              &__crcle {
              }
              &__path {
              }
            }
          }
        }
      }
    }
  }
}