.footer {
  padding: 15px 0;
  color: #fff;
  background-color: #000;
  text-align: center;
  ul.contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    li.content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      h2.head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul.lists {
        list-style: none;
        li {
          a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    a {
      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
  p {
    font-size: 14px;
    margin-top: 10px;
  }
}

.footer__btn {
  width: 100px;
  background: #ff6b00;
  text-align: center;
  border-radius: 100%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  span.text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px
  }
  .fa {
    width: 60%;
    color: #fff;
  }
  img {
    width: 54px;
    height: 34px;
  }
}
