

.index-maypage
  %h1 ユーザーのマイページ
  %h3 現在出品しているアイテム
  %ul
    %li
      = link_to "#" do
        出品アイテム編集
    %li
      = link_to "#" do
        ユーザー住所編集
    %li
      = link_to "#" do
        クレジットカード編集