-# 完了ヘッダー
.login-header
  %h1.login-head
    = link_to root_path, class: "login-head" do
      = image_tag "IMG_3179 2.JPG", class: "login-head"
  .login-header__nav
    %ol.active
      %li
        会員情報
        .login-header__nav__round
          %after
      %li 
        住所登録
        .login-header__nav__round
          %before
          %after
      %li.active 
        完了
        .login-header__nav__round
          %before
      %after

-# 完了フォーム
.login-end
  .login-end__box
    %h2.end 
      = link_to "登録を完了しました", root_path, class: "end"